/* NAVBAR */
.navbar {
  width: 100%;
  height: 60px;
  background: var(--card-bg);
  border-bottom: 2px solid var(--border-soft);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.nav-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary);
}

.logout-btn {
  background: var(--danger);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}
/* DASHBOARD MAIN */
.dashboard-container {
  padding: 20px 40px;
}

h1 {
  margin-bottom: 5px;
}

.muted {
  color: #6c7a87;
}

/* CARDS */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
  margin-top: 25px;
}

.card {
  background: var(--card-bg);
  padding: 16px;
  border-radius: 10px;
  border: 1px solid var(--border-soft);
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  text-align: center;
}

.card-number {
  font-size: 28px;
  font-weight: bold;
  margin-top: 8px;
  color: var(--primary);
}
