/* NAVBAR */
.navbar {
  width: 100%;
  height: 60px;
  background: var(--card-bg);
  border-bottom: 2px solid var(--border-soft);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.nav-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary);
}

.logout-btn {
  background: var(--danger);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}
